<%= turbo_stream.update "messag_notifications_#{current_user.username}_#{room.id}" do %>
<% if current_user.messag_notifications.where(read_at: nil,room: room).count > 0 %>
  <div class="new_messages">
   <div class="new_messages_number">
    <%= current_user.messag_notifications.where(read_at: nil,room: room).count %>
   </div>
  </div>
<% end %>
<% end %>


