<%= form_with model: room do |f| %>
<%= f.text_field :name , placeholder: "Enter name of a room" %>
<br><div style="color:red">(user must exist)</div><br>
<%= f.submit "Add room", class:"btn btn-primary" %>
<% end %>